body{background: linear-gradient(to right, #ff0000 0%, #ff0000 25%, #55ff00 50%, #00ffb2 75%)}  .wrapper{
    display: flex;
    unicode-bidi: isolate;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: center;
    align-items: center;
    padding:5em ;
    /*margin: 15%;*/
    margin-top: 10%;
    margin-left: 40%;
    border: 1em solid darkblue;
    border-radius: 10em;
    width: 10em;
    height: 10em;
    align-self: center ;
    color-scheme: dark;
background-color: rgba(10, 68, 131, 0.97);}

h1{
text-align:center;color: #12d339;
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}